* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

/* Document*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FFF;
    background-color: rgb(53, 52, 52);
}

/* Intro (what day is it?) */
header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1 {
	font-size: 2.5rem;
	font-weight: 300;
	color: rgb(255, 255, 255);
	margin-bottom: 2rem;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

/* Motivational Quote Section */
h2 {
	padding: 2rem 1rem;
	font-size: 1.5rem;
	font-weight: 200;
	color: rgb(255, 255, 255);
	margin-bottom: 3rem;
}




/* Box for filling in tasks with "add-task */
#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color:rgb(121, 120, 120);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color:rgb(0, 0, 0);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: rgb(75, 83, 81);
}

#new-task-submit {
	color: rgb(255, 255, 255);
	font-size: 1.25rem;
	font-weight: 500;
	background-image: linear-gradient(to right, rgb(53, 62, 190), rgb(197, 21, 21));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.5s;
}

#new-task-submit:hover {
	opacity: 0.7;
}

#new-task-submit:active {
	opacity: 0.6;
}


/* Task Lists */
.task-list {
	padding: 1rem;
}

#task .task {
	display: flex;
	justify-content: space-between;
	background-color: aqua;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: aqua;
	font-size: 1.124rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

