* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

/* Document*/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #FFF;
    background-color: rgb(53, 52, 52);
}

/* Intro (what day is it?) */
header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1 {
	font-size: 2.5rem;
	font-weight: 300;
	color: rgb(145, 145, 145);
	margin-bottom: 1rem;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}


/* Box for filling in tasks with "add-task */
#new-task-form {
	display: flex;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color:rgb(121, 120, 120);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color:rgb(87, 87, 87);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: rgb(75, 83, 81);
}

#new-task-submit {
	color: rgb(7, 7, 7);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, rgb(140, 243, 204), rgb(122, 240, 151));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.5s;
}

#new-task-submit:hover {
	opacity: 0.7;
}

#new-task-submit:active {
	opacity: 0.6;
}


/* Task Lists */
.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: rgb(37, 37, 37);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: rgb(140, 243, 204);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: rgb(37, 37, 37);
	font-size: 1.124rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: rgb(255, 255, 255);
}

/* Edit and Delete buttons */
.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, rgb(41, 41, 41), rgb(116, 116, 116));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	background-image: linear-gradient(to right, rgb(41, 41, 41), rgb(116, 116, 116));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}